---

---

<div class='bg-[#FCFCFD] lg:mb-24 md:mb-16 mb-14 lg:mx-[160px] mx-0'>
	<div
		class='w-full text-center bg-gradient-to-b from-[#FCFCFD] to-gray-200 lg:px-[160px] md:px-[58px] md:pb-[138px] lg:pt-[111px] md:pt-[85px] px-4 py-16 rounded-2xl mt-2 space-y-6 text-[#101828]'>
		<h1
			class='font-black lg:text-7xl md:text-[64px] text-[32px] font-Red-Hat space-x-5'>
			<span>For</span>
			<span class='text-[#FF601F]'>Businesses</span>
		</h1>
		<p class='font-noto-sans leading-[25px]'>
        We offer a rich palette of services designed to meet the diverse needs of businesses. Whether it's unveiling a new product, igniting your brand's presence, or enhancing internal communications, our video editing services are tailored to your specific objectives.
		</p>
	</div>
</div>
