---
import { Image } from "astro:assets";
import ArrowUp from "/public/assets/arrow-angle-up.svg";
import ArrowBlack from "/public/assets/arrowBlack.svg";
---

<section class='bg-[#F2F4F7] lg:py-24 md:py-[72px] py-16'>
	<div>
		<h1
			class='text-[#101828] text-center font- lg:text-[64px] md:text-5xl text-4xl font-semibold'>
			Case <span class='text-[#FF601F]'>Studies</span>
		</h1>

		<p
			class='text-[#344054] font-noto-sans text-[16px] font-normal text-center mx-auto lg:w-[80%] pt-[24px] pb-[48px] lg:px-40 md:px-14 px-6'>
			Explore some of our standout projects, each representing a unique facet of
			our video editing and storytelling expertise. These projects transcend
			mere videos; they're captivating narratives that inspire and make an
			impact.
		</p>
	</div>

	<div class='flex gap-8 flex-wrap justify-center items-center'>
		<div
			class='p-[30px] bg-white flex flex-col items-start rounded-[8px] w-fit'>
			<h1
				class='text-[#1D2939] font-noto-sans text-[24px] font-bold pt-[16px] pb-[24px]'>
				Wanderlust Chronicles
			</h1>

			<p
				class='text-start text-[#344054] font-noto-sans text-[16px] leading-[25.6px] pb-[88px] w-[299px]'>
				The project garnered over 1 million views and sparked a 20% increase in
				travel bookings for our client
			</p>

			<button
				class='py-[12px] px-[20px] text-black font-inter border-[1px] border-[#D0D5DD] text-[16px] font-extrabold rounded-[8px] flex items-center justify-center gap-[12px] w-full'
				>LEARN MORE
				<span>
					<Image
						src={ArrowBlack}
						width={20}
						height={20}
						alt={`Arrow-down`}
						class='pb-1 pl-1'
					/></span
				>
			</button>
		</div>

		<div
			class='p-[30px] bg-white flex flex-col items-start rounded-[8px] w-fit'>
			<h1
				class='text-[#1D2939] font-noto-sans text-[24px] font-bold pt-[16px] pb-[24px]'>
				Wanderlust Chronicles
			</h1>

			<p
				class='text-start text-[#344054] font-noto-sans text-[16px] leading-[25.6px] pb-[88px] w-[299px]'>
				The project garnered over 1 million views and sparked a 20% increase in
				travel bookings for our client
			</p>

			<button
				class='py-[12px] px-[20px] text-black font-inter border-[1px] border-[#D0D5DD] text-[16px] font-extrabold rounded-[8px] flex items-center justify-center gap-[12px] w-full'
				>LEARN MORE
				<span>
					<Image
						src={ArrowBlack}
						width={20}
						height={20}
						alt={`Arrow-down`}
						class='pb-1 pl-1'
					/></span
				>
			</button>
		</div>

		<div
			class='p-[30px] bg-white flex flex-col items-start rounded-[8px] w-fit'>
			<h1
				class='text-[#1D2939] font-noto-sans text-[24px] font-bold pt-[16px] pb-[24px]'>
				Wanderlust Chronicles
			</h1>

			<p
				class='text-start text-[#344054] font-noto-sans text-[16px] leading-[25.6px] pb-[88px] w-[299px]'>
				The project garnered over 1 million views and sparked a 20% increase in
				travel bookings for our client
			</p>

			<button
				class='py-[12px] px-[20px] text-black font-inter border-[1px] border-[#D0D5DD] text-[16px] font-extrabold rounded-[8px] flex items-center justify-center gap-[12px] w-full'
				>LEARN MORE
				<span>
					<Image
						src={ArrowBlack}
						width={20}
						height={20}
						alt={`Arrow-down`}
						class='pb-1 pl-1'
					/></span
				>
			</button>
		</div>
	</div>
</section>
