---
import potentialBg1 from "../../../public/assets/potentialBg1.svg";
import { Image } from "astro:assets";
---

<form
	class='flex flex-col items-center gap-[24px] pt-[52px] lg:px-40 md:px-10 px-6 pb-[100px] relative w-full'>
	<h1
		class='text-[#101828] text-center font- lg:text-[64px] md:text-5xl text-4xl font-bold pt-[96px] uppercase'>
		Let's us know how we can help your business
	</h1>

	<div class='flex flex-col gap-[6px] w-full'>
		<label
			id='full name'
			class='text-[#344054] font-jakarta-sans text-[14px] font-medium'
			>Full Name</label
		>
		<input
			type='text'
			name='full-name'
			id='full-name'
			placeholder='Enter full name'
			class='px-[14px] py-[16px] border-[1px] border-[#D0D5DD] md:w-[607px] w-full rounded-[8px] outline-none'
		/>
	</div>

	<div class='flex flex-col gap-[6px] w-full'>
		<label
			id='email-address'
			class='text-[#344054] font-jakarta-sans text-[14px] font-medium'
			>Email Address</label
		>
		<input
			type='email'
			name='email-address'
			id='email-address'
			placeholder='Enter email address'
			class='px-[14px] py-[16px] border-[1px] border-[#D0D5DD] md:w-[607px] w-full rounded-[8px] outline-none'
		/>
	</div>

	<div class='flex flex-col gap-[6px] w-full'>
		<label
			id='subject'
			class='text-[#344054] font-jakarta-sans text-[14px] font-medium'
			>Subject(Optional)</label
		>
		<input
			type='text'
			name='subject'
			id='subject'
			placeholder='Enter subject'
			class='px-[14px] py-[16px] border-[1px] border-[#D0D5DD] md:w-[607px] w-full rounded-[8px] outline-none'
		/>
	</div>

	<div class='flex flex-col gap-[6px] w-full'>
		<label class='text-[#344054] font-jakarta-sans text-[14px] font-medium'
			>Tell us what we can do for you.</label
		>
		<textarea
			rows='3'
			name=''
			id=''
			placeholder='Type your message...'
			class='px-[14px] py-[16px] border-[1px] border-[#D0D5DD] md:w-[607px] w-full rounded-[8px] outline-none'
		></textarea>
	</div>

	<button
		class='font-inter text-white bg-[#FF601F] py-[12px] px-[20px] md:w-[607px] w-full rounded-[8px]'
		>SEND MESSAGE</button
	>
	<Image
		src={potentialBg1}
		width={474}
		height={392}
		alt='background svg dots'
		class='lg:block md:hidden block absolute bottom-0 right-0'
	/>
	<Image
		src={potentialBg1}
		width={474}
		height={392}
		alt='background svg dots'
		class='lg:block md:hidden block absolute top-0 left-0 rotate-180'
	/>
</form>
