---
import Layout from '../../layouts/Layout.astro';
import IndividualHero from "../../components/IndividualHero.astro"
import Sponsors from "../../components/Sponsors.astro"

---

<Layout title="Welcome to Astro.">
	<main class="font-noto-sans text-[#1D2939]">
		<IndividualHero/>
		<Sponsors/>
	</main>
</Layout>


