---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.tsx';

---

<Layout title="Welcome to Astro.">
	<main>
				<Contact client:load />
				

	</main>
</Layout>


