<main class="w-full flex flex-col justify-center bg-res-107 items-center py-7">
    <!-- Section 1 -->
    <div class="text-center block lg:hidden">
      <h2 class="text-res-102 font-bold text-xl md:block hidden lg:hidden">WHAT CAN DO FOR YOU</h2>
      <h2 class="text-res-102 font-bold text-base block md:hidden">WHAT CAN DO FOR YOU</h2>
      <p class="text-res-103 font-semibold text-[32px] lg:text-5xl">Custom Solutions for...</p>
    </div>
  
    <!-- Section 2 -->
    <div class="bg-white lg:w-[1120px] w-full lg:h-[357px] h-full my-5 grid lg:grid-cols-2 grid-cols-1 gap-4 p-4 rounded-2xl justify-center">
      <div class="col-span-1 m-5 lg:w-[564px] w-full">
        <div class="py-5 flex flex-col">
          <h2 class="text-4xl font-bold text-res-103 text-start">Businesses and Brands</h2>
          <p class="py-5 text-res-104">
            From marketing strategies to the latest industry insights, our resources are designed to be your guiding light in the world of visual storytelling. We're dedicated to helping businesses harness the true potential of video content to connect with their audience, drive conversions, and elevate their brand presence.
          </p>
          <button class="flex items-center justify-center text-res-103 rounded-lg border border-res-106 w-[224px]  text-center p-2 font-extrabold">
            <div>VIEW RESOURCES</div>
            <div class="mx-3"><img src="/images/arrow.png" class="w-6 h-6 " /></div>
          </button>
        </div>
      </div>
      <div class="col-span-1 mr-0 lg:w-[510px] w-full flex justify-end items-center">
        <img src="/images/brands.png" class="h-[320px]" />
      </div>
    </div>
  
    <!-- Section 3 -->
    <div class="bg-res-108 lg:w-[1120px] w-full lg:h-[357px] h-full my-5 grid lg:grid-cols-2 grid-cols-1 gap-4 p-4 rounded-2xl justify-center">
      <div class="col-span-1 m-5 lg:w-[564px] w-full">
        <div class="py-5 flex flex-col">
          <h2 class="text-4xl font-bold text-res-103 text-start">Individuals</h2>
          <p class="py-5 text-res-104">
            Whether you're a content creator, a filmmaker, or someone with a passion for video, our resources are designed to be your creative compass. We're here to help you turn your vision into captivating reality, enhancing your storytelling, and making every frame count.
          </p>
          <button class="flex items-center justify-center text-res-103 rounded-lg border border-res-106 w-[224px]  text-center p-2 font-extrabold">
            <div>VIEW RESOURCES</div>
            <div class="mx-3"><img src="/images/arrow.png" class="w-6 h-6" /></div>
          </button>
        </div>
      </div>
      <div class="col-span-1 mx-0 lg:w-[510px] w-full flex justify-end items-center">
        <img src="/images/brand.png" class="h-[320px]" />
      </div>
    </div>
  </main>
  