---
const numberOfCards = 9;

const cardData = {
  name: 'Video Editing',
  title: 'Time lapse and Mapping',
  subtitle: 'We harness cutting-edge technology to capture the dynamic evolution of landscapes, cityscapes, and more.',
};

const cards = Array(numberOfCards).fill(cardData);
---

<section class="section font-noto-sans" id="casestudies-section">

  <div class="container mx-auto  block">
    <nav class="flex lg:flex-row flex-col justify-between my-8">
      <div class="text-res-109 md:space-x-6 space-x-0 border-b-2 w-full mr-5 py-3 flex-nowrap flex overflow-x-auto -webkit-overflow-scrolling-touch scrollbar-thin whitespace-nowrap">
        <a href="#" class="text-lg cursor-pointer py-2 px-3 ">Video Editing tips</a>
        <a href="#" class="text-lg cursor-pointer py-2 px-3">Creative Storytelling</a>
        <a href="#" class="text-lg cursor-pointer py-2 px-3">Industry Insights</a>
        <a href="#" class="text-lg cursor-pointer py-2 px-3">Video Marketing</a>
      </div>
      
      
<div class="flex items-center my-4 lg:my-0 space-x-4">
  <select data-te-select-init class="border border-res-105 lg:w-[169px] p-2 w-full rounded-lg">
    <option value="1">Newest First</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    
  </select>
  <select data-te-select-init class="border border-res-105 lg:w-[169px] p-2 w-full rounded-lg">
    <option value="1">Videos</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
   
  </select>
</div>
    </nav>
    <h2 class="font-bold text-4xl text-center py-7 text-res-104">Featured</h2>
    
    <div class="grid lg:grid-cols-3 md:grid-cols-2 container grid-cols-1 gap-6 mx-auto  my-4">
      {cards.map((post, index) => (
        <div class="h-[420px] w-[376px]">
          <div>
            <img src="/images/Image.png" class="w-[376px] h-[240px] rounded-lg" alt="Card Image" />
          </div>

          <h3 class="text-res-102 font-bold py-2">{post.name}</h3>
          <div class="flex justify-between items-center content-center">
            <p class="text-res-103 text-2xl font-semibold py-2">{post.title}</p>
            <img src="/images/arrow.png" class="w-6 h-7" alt="Arrow Icon" />
          </div>

          <p class="text-res-106">{post.subtitle}</p>
        </div>
      ))}
    </div>
  </div>
</section>
