---
let activeitems;
---

<main class="bg-white relative py-5 font-jakarta-sans">
  <div class="absolute"><img src="/images/Vectorbg.png" /></div>
  <div class="absolute bottom-1 end-1"><img src="/images/Vectorbg2.png" /></div>

  <div class="text-center lg:w-3/5 w-full my-5 mx-auto">
    <h1
      class="md:text-5xl font-bold md:hidden lg:block block md:leading-[65.26px] leading-[42px] text-[32px]"
    >
      LET'S <span class="text-res-102">CREATE</span> SOMETHING SPECIAL TOGETHER.
    </h1>
    <h1
      class="md:text-5xl font-bold hidden md:block lg:hidden md:leading-[65.26px] leading-[42px] text-[32px]"
    >
      LET'S <span class="text-res-102">KNOW</span> HOW WE CAN HELP YOU.
    </h1>
    <p class="text-res-109 leading-[25.6px] py-5">
      In just 48 hours, our experts will meticulously assess your video content
      and reveal untapped opportunities for enhancing your <span
        class="font-bold">brand</span
      >
       and visual storytelling.
    </p>
  </div>
  <nav class="flex justify-center py-4 text-res-109">
    <a href="#" class="text-lg mr-4 cursor-pointer">Business</a>
    <a href="#" class="text-lg cursor-pointer">Individual</a>
  </nav>

  <hr />

  <div class="mx-auto max-w-screen-xl lg:px-8">
    <div class="mx-auto max-w-lg">
      <form action="" class="mb-0 mt-6 space-y-4 rounded-lg p-4 sm:p-6 lg:p-8">
        <div class="my-2">
          <label for="text" class="text-res-109 my-2 text-sm font-medium"
            >Company Name</label
          >

          <div class="relative my-2">
            <input
              type="text"
              class="w-full rounded-lg h-14 border-res-105 border px-4 text-sm shadow-sm"
              placeholder="Enter business name"
            />
          </div>
        </div>

        <div class="my-2">
          <label for="text" class="text-res-109 my-2 text-sm font-medium"
            >Business Email Address</label
          >

          <div class="relative my-2">
            <input
              type="email"
              class="w-full rounded-lg h-14 border-res-105 border px-4 text-sm shadow-sm"
              placeholder="Enter email address"
            />
          </div>
        </div>
        <div class="my-2">
          <label for="text" class="text-res-109 my-2 text-sm font-medium"
            >Subject(Optional</label
          >

          <div class="relative my-2">
            <input
              type="text"
              class="w-full rounded-lg h-14 border-res-105 border px-4 text-sm shadow-sm"
              placeholder="Enter subject"
            />
          </div>
        </div>
        <div class="my-2">
          <label for="text" class="text-res-109 my-2 text-sm font-medium"
            >Tell us what you need</label
          >

          <div class="relative my-2">
            <textarea
              class="resize-none w-full h-[105px] rounded-lg border-res-105 border px-4 text-sm shadow-sm"
              placeholder="Enter business name"
            >
            </textarea>
          </div>
        </div>
        <button
          type="submit"
          class="block w-full rounded-lg bg-res-102 px-5 py-3 text-sm font-extrabold text-white"
        >
          SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</main>
