
<header class="bg-gradient-to-t from-res-101 via-res-100 lg:h-[470px]  container my-10 mx-auto md:h-[411px] h-[294px] rounded-2xl flex flex-col justify-center items-center">
    <div class="text-center">
        <h1 class="text-res-103 font-black text-[32px] lg:text-7xl md:text-[64px]">Resources and <span class="text-res-102">Insights</span></h1>
        <p class="py-10 text-base">The latest industry news, technologies, and resources.</p>
    </div>
    <div class="relative flex items-center ">
        <input
            type="text"
            class="pl-10 pr-3 py-2 border rounded-lg w-80  h-12"
            placeholder="Search"
        />
        <img
            class="h-5 w-5 ml-3 absolute"
            src="../../../public/images/search.png"
            alt="Search Icon"
        />
    </div>
</header>
