<header class="bg-gradient-to-t from-transparent via-res-101 to-res-100 w-[1189px] h-[579px] rounded-2xl flex justify-center items-center">
    <div class="text-center">
        <h1 class="text-res-103 font-black text-7xl">Resources and <span class="text-res-102">Insights</span></h1>
        <p class="py-10 text-base">The latest industry news, technologies, and resources.</p>
       <div class="flex justify-center">      
          <div class="relative flex justify-start items-center">
           
            <input type="text"
                   class=" pr-4 text-res-106
                   py-2 pl-12 border rounded-lg w-80 h-12"
                   placeholder="Search" />
                  
                    <img class="h-5 w-5 ml-5 absolute " src="../../../public/images/search.png" alt="Search Icon" />
                
        </div>
        </div>
</header>
