---
import Layout from '../../layouts/Layout.astro';
import Header from './Header.astro'
---

<Layout title="Welcome to Astro.">
	<main class="w-full container m-auto flex flex-col content-center justify-between">
		<Header />
		<h1>ORJI_ONYINYECHI</h1>
	</main>
</Layout>


