---
import {Image} from "astro:assets";
import Logo from "../../public/assets/logo.svg"
import ArrowDown from "../../public/assets/arrow-down.svg"
---


<header class="font-jakarta-sans mx-12 sm:mx-20 mt-8 bg-white shadow rounded-xl">
    <div class="flex justify-between p-6">
        <Image 
        src={Logo}
        width={30}
        height={30}
        alt="Logo"
        />

        <ul class="flex pt-4">
            <li class="cursor-pointer">About Us</li>
            <li class="px-5 cursor-pointer">Portfolio</li>
            <li class="flex pr-5 cursor-pointer">
                Clients
            <Image 
            src={ArrowDown}
            width={20}
            height={20}
            alt={`Arrow-down`}
            class="pb-1 pl-1"
            />
            </li>
            <li class="cursor-pointer">Resources</li>
        </ul>

            <button class="bg-[#FF601F] text-white p-3 px-6 rounded hover:transform hover:scale-105 hover:duration-700">
                LET'S TALK
            </button>
        
    </div>
</header>