---
import { Image } from "astro:assets";
import Hamburger from "./Hamburger.jsx";
import Logo from "../../public/assets/logo.svg";
import ArrowDown from "../../public/assets/arrow-down.svg";
import cancel from "../../public/assets/cancel.png";
import { useState } from "react";
---

<header class='font-noto-sans lg:px-[160px] px-0 lg:pt-8 pt-0 text-[#1D2939]'>
	<div
		class='flex justify-between lg:p-6 md:px-10 px-4 md:py-7 py-1 bg-white shadow lg:rounded-3xl rounded-none border-[#EAECF0]'>
		<Image src={Logo} width={44} height={20} alt='Logo' />

		<ul class='lg:flex pt-4 hidden'>
			<li class='cursor-pointer'><a href="#">About Us</a></li>
			<li class='px-5 cursor-pointer'><a href="/Portfolio">Portfolio</a></li>
			<li class='flex pr-5 cursor-pointer'>
				Clients
				<Image
					src={ArrowDown}
					width={20}
					height={20}
					alt={`Arrow-down`}
					class='pb-1 pl-1'
				/>
			</li>
			<li class='cursor-pointer'><a href="/resources">Resources</a></li>
		</ul>

		<a
			href="/contact"
			class='bg-[#FF601F] text-white py-3 px-5 rounded-lg hover:transform hover:scale-105 hover:duration-700 lg:flex hidden font-bold mr-2'>
			LET'S TALK
		</a>

		<Hamburger />
	</div>
</header>
