---
---
<div class="bg-[#FCFCFD] lg:mb-24 md:mb-16 mb-14 lg:mx-[160px] mx-0">
    <div class="w-full text-center bg-gradient-to-b from-[#FCFCFD] to-gray-200 lg:px-[160px] md:px-[58px]  md:pb-[138px] lg:pt-[111px] md:pt-[85px] px-4 py-16  rounded-2xl mt-2 space-y-6 text-[#101828]">
        <h1 class="font-black lg:text-7xl md:text-[64px] text-[32px] font-Red-Hat">
            <span>For </span> <span class="text-[#FF601F]">Individuals</span>
        </h1>
        <p class="font-noto-sans">
            In the realm of video creativity, every frame is a canvas, and we're here to help you paint your stories. Welcome to tifi.tv, where we cater to the unique needs of content creators, travelers, vloggers, and individuals with a passion for visual storytelling.
        </p>
    </div>
</div>

